.c {
    background:#000000;
}
.tablebg1{
    width: 70%px;
     background: #fff;
     border-radius: 10px;
     overflow: hidden;
     padding: 42px 55px 45px 55px;
   
   }
.cen{
    text-align:center;
}
.dd{
position: sticky;

}

.tx{
    text-align: center;
}

/*//////////////////////////////////////////////////////////////*/

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.note {
    font-size: .8em;
}
